
// Color variables
$color-paragraphs: #000000;
$color-background: #FFFFFF;
$color-special-background: #AAAAAA;
$color-headers-footer: #000000;
$color-headers-footer-content: #ffffff;
$color-title: #ffffff;
$color-menu: #999999;

// Dimension variables
$height-header:20%;
$height-footer:10%;
$width-header-footer:100%;

// Font variables
$font-header-footer: 'titlefont', monospace;
