

@import "@/assets/scss/_variables.scss";

html{
  height:100%;
}

body{
  background-color: $color-background;
  color: $color-paragraphs;
  height: 100%;
  margin: 0;
}

.md-card{
  margin-bottom: 1vh;
}

.md-card-secondary {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}

.md-card-actions > .md-button{
  margin-right: 1vw;
}
